.cartdeletebutton
{
    border-radius: 4px;
    background-color: white;
    border: 2px solid #cb0c1c;
    padding: 3px 15px;
    color: #cb0c1c;
    margin: 0px 10px;
}

.cartdeletebutton:hover
{
    background-color: #cb0c1c;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.carteditbutton
{
    border-radius: 4px;
    background-color: white;
    border: 2px solid #348a13;
    padding: 3px 15px;
    color: #348a13;
    margin: 0px 10px;
}

.carteditbutton:hover
{
    background-color: #348a13;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cartBuy
{
    background-color: white;
    border: 3px solid green;
    color: green;
    border-radius: 5px;
    padding: 8px 40px;
    margin: 20px;
    font-size: 16px;
}

.cartBuy:hover
{
    background-color: green;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.center
{
    align-items: center;
    justify-content: center;
}

.cartdata
{
    color:white;
}

.tab
{
    margin: 50px;
    padding: 30px;
    background-color: white;
}
.tabdelete
{
    align-items: center;

}
.trackingbutton
{
    border-radius: 4px;
    background-color: white;
    border: 2px solid #ca9808;
    padding: 3px 15px;
    color: #ca9808;
    margin: 0px 10px;
}

.trackingbutton:hover
{
    background-color: #ca9808;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.feedbackbutton
{
    border-radius: 4px;
    background-color: white;
    border: 2px solid #43c304;
    padding: 3px 15px;
    color: #43c304;
    margin: 0px 10px;
}

.feedbackbutton:hover
{
    background-color: #43c304;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.countbutton
{
    padding:5px 10px;
}
