/* Split the screen in half */
.split {

    width: 50%;
    height:100%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;

    padding-top: 5px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #0f7903;
}

/* Control the right side */
.right1 {
    right: 0;
    background-color: #0f7903;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}